body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f7f7f7;
}

#parcel-form {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#parcels div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

input[type=number] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 3px; /* Ensure there is space between inputs */
}

.parcel-quantity,
.parcel-dimension {
    flex: 1; /* Allows input to grow and shrink as needed */
    max-width: 13%; /* Limit the width of each input to less than a quarter of the container's width */
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-box {
    background-color: #28a745;
    color: white;
}

.remove-box {
    background-color: #dc3545;
    color: white;
}

#totalWeight {
    margin-top: 20px;
    font-size: 1.2em;
    color: #007bff;
}
